table {
  width: 100%;
}


.mat-cell, .mat-header-cell {
  font-size: 14px;
  min-height: 48px;
  text-align: center;
  border: 1px solid lightgray;
}

.positive {
  background-color: green;
}

.neutral {
  background-color: yellow;
}

.negative {
  background-color: red;
}
