<div class="header_view">
  <div class="col-lg-2 icon_bg">
    <img src="/assets/images/game_of_pods_icon.png" class="icon_img"/>
    <div class="icon_text"><b>Game Of Pods</b></div>
  </div>
  <div class="col-lg-4 stats_metric">
    <pre class="past_stat">Last Report Date : {{stats.lastReportDate}}</pre>
    <pre class="past_stat">Next Report Date : {{stats.nextReportDate}}</pre>
  </div>
  <div class="col-lg-2"></div>
  <div class="col-lg-4 stats_metric">
    <pre class="past_stat">Last Winner : {{stats.lastWinner}}</pre>
    <pre class="past_stat">Last Runner : {{stats.lastRunner}}</pre>
  </div>
</div>
<div class="header_footer_line"></div>
