.stats_metric {
  margin: 5px 0px 20px 30px
}

.past_stat {
  background-color: darkslategray;
  color: lightgray;
  font-size: 14px;
}

.header_view {
  color: black;
  height: 105px;
  width: 100%;
  background-color: gray;
  display: inline-flex
}

.icon_bg {
  background-color: lightgray;
  width: 15%
}

.icon_text {
  margin: -5px 10px 5px 10px;
  width: 100px;
  font-family: Algerian
}

.icon_img {
  margin : 0px 20px 0px 20px;
  height : 80px;
  width : 80px
}
